h1,h2,h3,h4,h5,h6,p {
	margin: 0;
}
h1 {
	font-family: arial;
    font-size: 4vw;
    font-weight: bold;
    font-style: italic;
    line-height: 1.02;
    color: #6CC0F2;
    text-transform: uppercase;
	margin-bottom: 0;
}
h1 span {
    font-weight: 300;
    color: #005799;
}
h2 {
    font-family: arial;
    font-size: 2.5vw;
    font-weight: bold;
    font-style: italic;
    line-height: 1.02;
    color: #005799;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 4vw;
    margin: 2vw;
}
h3,
.h3 {
	font-weight: bold;
	font-size: 1.25vw!important;
	line-height: 1.29;
	text-align: center;
	color: #005799;
	font-family: arial;
}
h4 {
	display: flex;
	flex-direction: column;
	font-weight: bold;
	font-style: italic;
	font-size: 1.614vw;
	line-height: 1.161;
	text-transform: uppercase;
	color: var(--main-light);
	font-family: arial;
}
h4 span {
	font-weight: 300;
	color: #005799;
}
a {
	text-decoration: none!important;
	font-family:arial;
}
p {
    font-weight: 300;
    font-size: 0.9375vw;
    line-height: 1.5;
    color: #6f6f6f;
}
.header {
		padding-top:2vw;
}
.logo {
	width:11.97vw;
	padding-left:2vw;
	z-index: 1;

}

.button1::before {
    background: url(../img/phone.svg) no-repeat;
    content: "";
    float: left;
    height: 1.5vw;
    margin-right: 5px;
    width: 1.5vw;

}

.button1 {
    line-height: 1.5vw;
	display: inline-block;
    padding-left: 1vw;
    padding-right: 1vw;
	font-size: 0.8vw;
    font-weight: bold;
	text-transform: uppercase;
    padding-top: 0.6vw;
    padding-bottom: 0.6vw;
	border-radius:4px;
	margin-left: 1vw;
	color: white;
    background-image: linear-gradient(90deg, #4499D9 0%, #6CC0F2 100%);
	
}
.button1:hover { background: #6cc0f2; } /* при наведении курсора мышки */
.button1:active { background: #6cc0f2; } /* при нажатии */

.button2::before {
    background: url(../img/phone2.svg) no-repeat;
    content: "";
    float: left;
    height: 1.5vw;
    margin-right: 5px;
    width: 1.5vw;

}

.button2 {
    line-height: 1.5vw;
	display: inline-block;
	border: 1px solid;
    padding-left: 1vw;
    padding-right: 1vw;
	font-size: 0.8vw;
    font-weight: bold;
	text-transform: uppercase;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
	border-radius:4px;
	margin-left: 1vw;
	color: #005799;
	
}


.button3 {
	position: relative;
    top: 3vw;
    left: 8vw;
	width: 10vw;
    text-align: center;
    line-height: 1.5vw;
	display: inline-block;
    padding-left: 1vw;
    padding-right: 1vw;
	font-size: 0.8vw;
    font-weight: bold;
	text-transform: uppercase;
    padding-top: 0.6vw;
    padding-bottom: 0.6vw;
	border-radius:4px;
	color: white;
    background-image: linear-gradient(90deg, #4499D9 0%, #6CC0F2 100%);
	
}
.button3:hover { background: #6cc0f2; } /* при наведении курсора мышки */
.button3:active { background: #6cc0f2; } /* при нажатии */
.button4 {
	position: relative;
    top: 1vw;
	width: 10vw;
    text-align: center;
    line-height: 1.5vw;
	display: inline-block;
    padding-left: 1vw;
    padding-right: 1vw;
	font-size: 0.8vw;
    font-weight: bold;
	text-transform: uppercase;
    padding-top: 0.6vw;
    padding-bottom: 0.6vw;
	border-radius:4px;
	color: white;
    background-image: linear-gradient(90deg, #4499D9 0%, #6CC0F2 100%);
	
}
.button4:hover { background: #6cc0f2; } /* при наведении курсора мышки */
.button4:active { background: #6cc0f2; } /* при нажатии */


.sidebar {
	float:right;
    padding-right: 4.16vw;
}

select {
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background: url(../img/down.png);
    background-repeat: no-repeat;
    background-size: 0.7vw 0.7vw;
    background-position: right 0.85vw;
    background-position-x: 2.4vw;
    line-height: 1.5vw!important;
    display: inline-block;
    border: 1px solid;
    padding-left: 1vw;
    padding-right: 1.6vw;
    font-size: 0.8vw!important;
    font-weight: bold;
    text-transform: uppercase!important;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    border-radius: 4px;
    margin-left: 1vw!important;
    color: #005799;
}

/*----------B-header----------*/
header {
	position: relative;
	height: 100vh;
	max-width: 100vw;
	overflow: hidden;
}

header:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10.554vh;
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}


#header-anim-outer-wrap {
	position: absolute;
	left: 56.875vw;
	bottom: 0;
	width: 36.35vw;
	height: 36.35vw;
}
#header-anim-outer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	background-image: linear-gradient(360deg, #7EC3EA 10.67%, #EAF8FF 100%);
}
#header-anim {
	position: absolute;
	left: 1px;
	top: 1px;
	bottom: 1px;
	right: 1px;
	border-radius: 50%;
	overflow: hidden;

}
#header-anim:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 1396px;
	height: 1893px;
	background-image: url(../img/header/snow_rain_new.png);
	background-position: bottom left;
	animation: headershow 2.5s linear infinite;
}
@keyframes headershow {
	0% {
		transform: translate3d(0,0,0);
	}
	100% {
		transform: translate3d(-50%,33.333333%,0);
	}
}
.header-img {
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
}
#header-smoke {
	position: absolute;
	left: 66vw;
	top: 64vh;
}
#header-smoke:before,
#header-smoke:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 360px;
	height: 360px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../img/cigarette-smoke.png);
}
#header-smoke:before {
	animation: headerSmoke 4s infinite -2s linear;
}
#header-smoke:after {
	animation: headerSmoke 4s infinite 0s linear;
}
@keyframes headerSmoke {
	0% {
		opacity: 0;
		transform: translate3d(0, 0, 0);
	}
	20% {
		opacity: 1;
		transform: translate3d(-2%, -20%, 0) scale(1.1);
	}
	100% {
		transform: translate3d(-10%, -100%, 0) scale(1.5);
		opacity: 0;
	}
}
#palm1 {
	bottom: 8.2vw;
	left: -7%;
	width: 22.50678vw;
	height: 33.03vw;
	background-image: url(../img/header/palm1.png);
}
#palm2 {
	bottom: 8.2vw;
	left: 12.8125vw;
	width: 10.4694vw;
	height: 14.428vw;
	background-image: url(../img/header/palm2.png);
}
#penguin {
	bottom: 0;
	left: 0;
	width: 57.916vw;
	height: 20.06vw;
	background-position: bottom left;
	background-image: url(../img/header/penguin.png);
}
#header-img-snow-b {
	right: 0;
	bottom: 0;
	width: 66.979vw;
	height: 11.2vw;
	background-position: bottom right;
	background-image: url(../img/header/snow_back.png);
}
#header-img-snow-f {
	right: 0;
	bottom: 0;
	width: 66.979vw;
	height: 7.14vw;
	background-position: bottom right;
	background-image: url(../img/header/snow_front.png);
}
#balloon {
	left: 65.5vw;
	bottom: 0vh;
	width: 18.8vw;
	height: 32.8125vw;
	background-image: url(../img/header/ballon.png);
	background-position: bottom;
}
#header-content {
	position: absolute;
	top: 20vh;
	left: 25vw;
	display: flex;
	flex-direction: column;
	
}
#header-content p {
	margin-top: 0.3125vw;
	max-width: 28.8vw;
	width: 460px;
}
#header-content .btn {
	margin: 2.7vh 0 auto auto;
	min-width: 13.75vw;
}
/*----------E-header----------*/
/*----------Advantages----------*/

.background:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 42vw;
    background-image: url(../img/header/snow_rain_new.png);
    background-repeat: repeat;
    background-position: unset;
}
.background{
	background-image: linear-gradient(360deg, #7EC3EA 10.67%, #FFFFFF 100%);
	height: 43vw;
}
.background:after {
    content: '';
    position: absolute;
    top: 45vw;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/advantages/steam_new.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}
/*----------advantages----------*/
#advantages-bg {
    font-style: italic;
    font-weight: bold;
    font-size: 8.9vw;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
	font-family: arial;
}
.rectangle-items {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	z-index: 1;
	width: 100%;
	max-width: 80vw;
	margin-bottom: 10vw;
	top: -4vw;
}
.rectangle-item {
	width: 13.75vw;
	height: 21.66vw;
	background-color: white;
	border-radius: 0.26vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 0.78125vw 0.78125vw;
	transition: box-shadow 0.5s ease;
	box-shadow: var(--light-shadow);
	-webkit-box-shadow: var(--light-shadow);
}
.rectangle-item:hover {
	box-shadow: var(--dark-shadow);
	-webkit-box-shadow: var(--dark-shadow);
}
.advantages-img {
	margin: 20.8% 0 18.9%;
	width: 50%;
    padding-top: 50%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: relative;
}
.advantages-img:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	image-rendering: optimizeQuality;
}

.advantages-img.delivery:before {
	background-image: url(../img/advantages/delivery.png);
	width: 100%;
	height: 84%;
}
.advantages-img.payment:before {
	background-image: url(../img/advantages/payment.png);
	width: 100%;
	height: 84%;
}
.advantages-img.quality:before {
	background-image: url(../img/advantages/quality.png);
	width: 135.4%;
	height: 120%;
}
.advantages-img.certificate:before {
	background-image: url(../img/advantages/certificate.png);
	width: 70%;
	height: 107.5%;
}
.advantages-img.weight:before {
	background-image: url(../img/advantages/weight.png);
	width: 90%;
	height: 116.02%;
}
.delivery-hours {
	width: 40%;
	height: 2vw;
	box-sizing: border-box;
	text-align: center;
	margin-bottom: 1vw;
	color: white;
	background: linear-gradient(90deg, #4499D9 0%, #6CC0F2 100%);
	border-radius: 150px;
	font-size: 1.8vw; 
}
.rectangle-item h3,
.rectangle-item .h3 {
	max-width: 65%;
	margin-bottom: 1vw;
}
.rectangle-item p {
	text-align: center;
	max-width: 83.33%;
	font-family:arial;
}




ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

.slider {
  /* устанавливаем относительное позиционирование элементу */
  position: relative;
  display: block;
  margin: 0 auto;
  width: 62vw;
  z-index: 1;
}

.slider__items {
  /* устанавливаем относительное позиционирование элементу */
  position: relative;
  /* устанавливаем элементу ширину, равную 100% */
  width: 100%;
  overflow: hidden;
}

.slider__item {
  /* устанавливаем относительное позиционирование элементу */
  position: relative;
  /* отключаем по умолчанию отображение всех слайдов */
  display: none;
  /* устанавливаем элементу ширину, равную 100% */
  width: 100%;
  /* длительность анимации трансформации */
  transition: transform 0.6s ease;
  /* не показывать обратную сторону трансформируемого элемента */
  backface-visibility: hidden;
}

.slider__item_active,
.slider__item_next,
.slider__item_prev {
  /* отображаем слайд, если он имеет один из этих классов */
  display: block;
}

.slider__item_next,
.slider__item_prev {
  /* устанавливаем абсолютное позиционирование для элемента, на который будет сменяться слайд (на время трансформации) */
  position: absolute;
  /* устанавливаем положение элемента, т.е. координату top */
  top: 0;
}

.slider__item_next.slider__item_left,
.slider__item_prev.slider__item_right {
  /* сдвигаем элемент на 0 по горизонтали */
  transform: translateX(0);
}

.slider__item_next,
.slider__item_right.slider__item_active {
  /* сдвигаем элемент на 100% по горизонтали */
  transform: translateX(100%);
}

.slider__item_prev,
.slider__item_left.slider__item_active {
  /* сдвигаем элемент на -100% по горизонтали */
  transform: translateX(-100%);
}

/* элементы управления (назад и вперёд) слайдером */

.slider__control {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.slider__control_prev {
  left: -12vw;
}

.slider__control_next {
  right: -12vw;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_prev::before {
  background-image: url(../img/prev.svg);
}

.slider__control_next::before {
	background-image: url(../img/next.svg);
}

/* индикаторы слайдера */

.slider__indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.slider__indicator {
  position: relative;
  flex: 0 1 auto;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  border: 2px solid #005799;
  border-radius: 6px;
  top: 65px;
}

.slider__indicator::before {
  position: absolute;
  top: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.slider__indicator::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.slider__indicator_active {
  background-color: #005799;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;

}

.slider__item {}

.slider__item {
  background: white;
}

.slider__item_2 {
  background: linear-gradient(to right, #dd1818, #333333);
}

.slider__item_3 {
  background: linear-gradient(to right, #093028, #237a57);
}

.slider__item_4 {
  background: linear-gradient(to right, #243B55, #141E30);
}

/*   .slider__item_inner {
  position: absolute;
  right: 15%;
  bottom: 30px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}*/

.slider__item {
  height: 330px;
  overflow: hidden;
}

.slider__item_inner {
  position: absolute;
  left: 15%;
  right: 15%;
  top: 36px;
  bottom: 36px;
  overflow: hidden;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slider__item_img {
  flex: 0 0 100px;
  max-width: 80px;
  padding-top: 4vw;
}

.slider__item_testimonial {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  text-align: center;

}

@media (min-width: 576px) {
  .slider__item {
	height: 250px;
  }
  .slider__item_inner {
	flex-direction: row;
  }
  .slider__item_testimonial {
	margin-left: 15px;
  }
  .slider__item_img {
	flex: 0 0 150px;
	max-width: 150px;
  }
  .slider__item_testimonial {
	text-align: left;
  }
}

.slider__item_name {
  font-weight: bold;
   font-size: 6vw;
   line-height: 1.29;
   text-align: center;
   color: #005799;
   font-family: arial
}

.slider__item_post {
	width: 40%;
    height: 25px;
    padding: 4px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 1vw;
    color: white;
    background: linear-gradient(90deg, #4499D9 0%, #6CC0F2 100%);
	border-radius: 150px;
	position: relative;
    left: 15vw;
}

.slider__item_text {
	font-size: 16px;
    color: #6f6f6f;
    font-family: arial;
    font-weight: 300;
}





/*Mobile*/
@media (max-width: 360px){
.logo {
	width: 50vw!important;
	padding-left: 5.5vw!important;
	padding-top: 2vw;
	position: absolute;
	z-index: 1;
	}
	}
@media (max-width: 360px){
#palm1 {
	display:none;}
}
@media (max-width: 360px){
#palm2 {
	display:none;}
	}
@media (max-width: 360px){
#penguin {
	display:none;}
	}
@media (max-width: 360px){
.sidebar {
	display:none;}
	}
@media (max-width: 360px){
h1 {
	font-size: 8vw;
}
}
@media (max-width: 360px){
	h2 {
		font-size: 7vw;
	}
	}

@media (max-width: 360px){
#header-content {
	position: absolute;
	top: 20vh;
	left:50%;
	transform: translateX(-50%);
	text-align: center;
	width: 80vw;
	bottom: 30px;
    z-index: 1;
}
}
@media (max-width: 360px){
#header-content p {
	display: none;

}
}
@media (max-width: 360px){
.button3 {
	line-height: 13vw;
    width: 70vw;
    left: 0;
	font-size: 5vw;
	margin: auto auto 0;
	
}
}
@media (max-width: 360px){
#header-anim-outer-wrap {
    /* top: 208px; */
    top: auto;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 74.66vw;
    height: 74.66vw;
    z-index: 0;
}
}
@media (max-width: 360px){
#header-img-snow-b {
    bottom: 82px;
    right: -12%;
    width: 137.6vw;
    height: 50vh;
}
}
@media (max-width: 360px){
#balloon {
    width: 39.46vw;
    height: 68.2vw;
    /* top: 240px; */
    top: auto;
    bottom: 72px;
    left: 50%;
    transform: translateX(-50%);
}
}
@media (max-width: 360px){
#header-img-snow-f {
    bottom: 70px;
    right: -8%;
    width: 121.6vw;
    height: 50vh;
    z-index: 1;
}
}
@media (max-width: 360px){
.rectangle-item {
    width: 70vw;
    height: 100vw;
}
}
@media (max-width: 360px){
header:after {
    bottom: 70px;
    z-index: 1;
}
}
@media (max-width: 360px){
.background:after {
	top: 457px;
	
}}
@media (max-width: 360px){
	.background {
		height: 450px;
		

	}}
@media (max-width: 360px){
.background:before {
	height: 450px;
}}
@media (max-width: 360px){
	.advantages {
		display: none;
	}}
@media (max-width: 360px){
	.container {
		display: block!important;
	}}

@media (max-width: 360px){
	.carousel__item_text {
		font-size: 1vw;
		position: absolute;
		left:0!important;
		top: 85vw!important;
		width: 80vw!important;
	}}
@media (max-width: 360px){
	.carousel-indicators{
       display: none!important;
	}}
@media (max-width: 360px){
	.carousel-inner{
		height: 255vw!important;
		width: 80vw!important;
	}}
@media (max-width: 360px){
	#allproducts-preview-outer{
		width: 80vw!important;
        height: 80vw!important;
		left: 0!important;
		margin: 0!important;
	}}
@media (max-width: 360px){
	.image {
		width: 35vw!important;
		left: 22vw;
		top: 3vw;
		position: relative;
	}}
@media (max-width: 360px){
	.button4 {
        display: none;
	}}
	
@media (max-width: 360px){
     h4 {
		font-size: 7vw!important; 
		flex-direction: row!important;
		margin: 8px auto 11px;
		display: block!important;
		width: 60vw;
		text-align: center;;
	}}

@media (max-width: 360px){
     h5 {
		font-size: 7vw!important; 
	}}
	@media (max-width: 360px){
		.h6 {

			font-size: 7vw!important;
			display: block!important;
            width: 80vw;
			text-align: center;
			margin: 12px auto;

		}}

@media (max-width: 360px){
	.carousel {
		width: 80vw!important;
	}}
@media (max-width: 360px){
    .wrapper{
       display: none;
	}}
@media (max-width: 360px){
	#allproducts-preview-snow-b {
		position: absolute;
		top: 48vw!important;
		right: 0!important;
		bottom: 0;
		width: 102vw!important;
		height: 18.2vw!important;
	}}
@media (max-width: 360px){
	#allproducts-preview-snow-f {
		right: 0!important;
	    width: 136%!important;
        height: 22.14vw!important;
	}}
@media (max-width: 360px){
	#allproducts-preview-palm2 {
		top: 24%!important;
		left: 53.25%!important;
		width: 35.46875vw!important;
		height: 35.428vw!important;
		background-size: 35vw!important;
	}}

@media (max-width: 360px){
	.applications {
		align-items: center;
		justify-content: center;
	}}

@media (max-width: 360px){
	p {
		font-size: 4.2vw!important;
	}}
@media (max-width: 360px){
	.carousel-control-next, .carousel-control-prev {
		top: 36vw;
	}}
@media (max-width: 360px){
	.applications-img {
		width: 18vw!important;
		height: 18vw!important;
		margin-top: 1vw;
	}}

.container {
	display: none;
}
*,
::after,
::before {
	box-sizing: border-box
}

.carousel {
	position: relative
}

.carousel.pointer-event {
	-ms-touch-action: pan-y;
	touch-action: pan-y
}

.carousel-inner {
	position: relative;
	width: 100%;
	overflow: hidden
}

.carousel-inner::after {
	display: block;
	clear: both;
	content: ""
}

.carousel-item {
	position: relative;
	display: none;
	float: left;
	width: 100%;
	margin-right: -100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: -webkit-transform .6s ease-in-out;
	transition: transform .6s ease-in-out;
	transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out
}

@media screen and (prefers-reduced-motion:reduce) {
	.carousel-item {
		transition: none
	}
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
	display: block
}

.active.carousel-item-right,
.carousel-item-next:not(.carousel-item-left) {
	-webkit-transform: translateX(100%);
	transform: translateX(100%)
}

.active.carousel-item-left,
.carousel-item-prev:not(.carousel-item-right) {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%)
}

.carousel-fade .carousel-item {
	opacity: 0;
	transition-property: opacity;
	-webkit-transform: none;
	transform: none
}

.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right,
.carousel-fade .carousel-item.active {
	z-index: 1;
	opacity: 1
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	z-index: 0;
	opacity: 0;
	transition: 0s .6s opacity
}

@media screen and (prefers-reduced-motion:reduce) {
	.carousel-fade .active.carousel-item-left,
	.carousel-fade .active.carousel-item-right {
		transition: none
	}
}

.carousel-control-next,
.carousel-control-prev {
	position: absolute;
	z-index: 1;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 15%;
	color: #000;
	text-align: center;
	opacity: .5;
	transition: opacity .15s ease
}

@media screen and (prefers-reduced-motion:reduce) {
	.carousel-control-next,
	.carousel-control-prev {
		transition: none
	}
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
	color: #fff;
	text-decoration: none;
	outline: 0;
	opacity: .9
}

.carousel-control-prev {
	left: 0
}

.carousel-control-next {
	right: 0
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: transparent no-repeat center center;
	background-size: 100% 100%
}

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e")
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e")
}

.carousel-indicators {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 15;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	padding-left: 0;
	margin-right: 15%;
	margin-left: 15%;
	list-style: none
}

.carousel-indicators li {
	box-sizing: content-box;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	width: 30px;
	height: 3px;
	margin-right: 3px;
	margin-left: 3px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #fff;
	background-clip: padding-box;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	opacity: .5;
	transition: opacity .6s ease
}

@media screen and (prefers-reduced-motion:reduce) {
	.carousel-indicators li {
		transition: none
	}
}

.carousel-indicators .active {
	opacity: 1
}

.carousel-caption {
	position: absolute;
	right: 15%;
	bottom: 20px;
	left: 15%;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: center
}

@-webkit-keyframes spinner-border {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@keyframes spinner-border {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

.spinner-border {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	vertical-align: text-bottom;
	border: .25em solid currentColor;
	border-right-color: transparent;
	border-radius: 50%;
	-webkit-animation: spinner-border .75s linear infinite;
	animation: spinner-border .75s linear infinite
}

.spinner-border-sm {
	width: 1rem;
	height: 1rem;
	border-width: .2em
}

@-webkit-keyframes spinner-grow {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0)
	}
	50% {
		opacity: 1
	}
}

@keyframes spinner-grow {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0)
	}
	50% {
		opacity: 1
	}
}

.spinner-grow {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	vertical-align: text-bottom;
	background-color: currentColor;
	border-radius: 50%;
	opacity: 0;
	-webkit-animation: spinner-grow .75s linear infinite;
	animation: spinner-grow .75s linear infinite
}

.spinner-grow-sm {
	width: 1rem;
	height: 1rem
}

p {
    font-weight: 300;
    font-size: 0.9375vw;
    line-height: 1.5;
    color: #6f6f6f;
}
h4 {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-style: italic;
    font-size: 1.614vw;
    line-height: 1.161;
    text-transform: uppercase;
	color: #6cc0f2;
	font-family: arial;
}
h5 {
    font-style: italic;
    font-family: arial;
    font-weight: bold;
    font-size: 1.875vw;
    text-align: center;
    text-transform: uppercase;
    color: #005799;
    margin: 3.9vh auto 8.1vh;
}
.h6 {
    font-weight: bold;
    font-size: 1.25vw;
	line-height: 1.2916;
	font-family: arial;
    color: #6cc0f2;
}
.carousel{
    width: 33vw;
    margin-left: auto;
    margin-right: auto;

}
.alttitle {
	position: relative;
}

.alttitle span {
    opacity: 0;
    z-index: -10;
    box-shadow: var(--dark-shadow);
    -webkit-box-shadow: var(--dark-shadow);
    padding: 4px 8px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 110%);
    z-index: -10;
    opacity: 0;
    transition: opacity 0.4s ease 0s, z-index 0s linear 0.4s;
}
.alttitle:hover span {
	z-index: 1000;
	opacity: 0.4;
	transition-delay: 0s, 0s;
}
.carousel__item_text {
    font-size: 1vw;
    position: absolute;
    left: 23vw;
    top: -4vw;
    width: 28vw;


}
.sl{
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.5vw;
    height: 4.5vw;
}
.carousel-inner{
    position: relative;
}
.carousel-indicators{
display: table;
left: -18vw;
top: 0;
}
.image {
    width:12vw;
}
.carousel-inner {
    width: 50vw;
    height: 35vw;
}
.carousel-indicators li {
    width: 2.5vw;
    height: 4.5vw;
    background-color: transparent!important;
    margin-top: 1vw;

}
.carousel-item {
    transition: none;
    top: 4vw;
}
.applications{
	display: flex;

}
.applications-img {
    width: 3.90625vw;
    height: 3.90625vw;
    object-fit: contain;
    margin-top:1vw;
}
.slide1 {
    background-image: url(../img/uploads/AMryqXGO1FR4WfYNIv1qrOzlqeIOFYEg.png);
}
.slide2 {
    background-image: url(../img/uploads/lUmtSr_XAL-_GMiNe7UTVy1n_Rb1_hWy.png);
}
.slide3 {
    background-image: url(../img/uploads/kQIh9j-VxNlBCGda9dc6UeA35A63B5jp.png);
}
.slide4 {
    background-image: url(../img/uploads/peMCeyP2U7OjINyaRT_cshd_X1LTVebY.png);
}
.slide5 {
    background-image: url(../img/uploads/_4DOc1-mBdURVy6cSOD9RKLEU9B2CRQF.png);
}
#allproducts-preview-outer {
	position: absolute;
	width: 28.854vw;
	height: 28.854vw;
	border-radius: 50%;
	overflow: hidden;
	background-image: linear-gradient(360deg, #7EC3EA 10.67%, #EAF8FF 100%);
	flex-shrink: 0;
    margin: 0 1.666vw 0 2.395vw;
    left: -10.8vw;
}
#allproducts-preview-palm2 {
    position: absolute;
    top: 35%;
    left: 1.25%;
    width: 10.46875vw;
    height: 14.428vw;
    background-image: url(../img/header/palm2.png);
    background-size: 10vw;
}
#allproducts-preview-snow-b {
	position: absolute;
	right: -40%;
	bottom: 0;
	width: 100vw;
	height: 11.2vw;
	background-position: bottom right;
	background-image: url(../img/header/snow_back.png);
	background-size: contain;
}
#allproducts-preview-snow-f {
	position: absolute;
	right: -40%;
	bottom: 0;
	width: 140%;
    height: 7.14vw;
    z-index: 1;
	background-position: bottom right;
	background-size: cover;
	background-image: url(../img/header/snow_front.png);
}

* {
    box-sizing: none!important;
  }
  
  .wrapper {
    width: 29.6vw;
    height: 29.6vw;
    position: absolute;
    background: white;
    left: -8.8vw;
    top: -0.4vw;
    z-index: 0;
  }
  
  .pie {
    width: 50%;
    height: 100%;
    transform-origin: 100% 50%;
    position: absolute;
    border:10px solid #00BCD4;
  }
  
  .spinner {
    border-radius: 100% 0 0 100%/50% 0 0 50%;
    z-index: 200;
    border-right: none;
    animation: rota 5s linear infinite;
  }
  
  .wrapper:hover .spinner,
  .wrapper:hover .filler,
  .wrapper:hover .mask {
  }
  
  .spinner:after {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    top: 10px;
    right: 10px;
    content: "";
    display: none;
  }
  
  .filler {
    border-radius: 0 100% 100% 0/0 50% 50% 0;
    left: 50%;
    opacity: 0;
    z-index: 100;
    animation: fill 5s steps(1, end) infinite;
    border-left: none;
  }
  
  .mask {
      width: 52%;
      height: 102%;
      position: absolute;
      left: -1%;
      top: -1%;
      background: inherit;
      opacity: 1;
      z-index: 300;
      animation: mask 5s steps(1, end) infinite;
  }
  
  @keyframes rota {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes mask {
    0% {
      opacity: 1;
    }
  
    50%, 100% {
      opacity: 0;
    }
  }
  
  @keyframes fill {
    0% {
      opacity: 0;
    }
  
    50%, 100% {
      opacity: 1;
    }
  }